<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is home page
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            
<%#= link_to image_tag("beagle.jpg", alt: "Cute Puppy"),
            'https://www.akc.org/dog-breeds/beagle/' %>